<h1 class="PrdOnSale">Real time products.</h1>
<h3 class="WannaAdd">Add a product now!</h3>

<form id="add-product" class="formulario" method="post">
  <input
    type="text"
    class="form-input"
    name="title"
    id="title"
    placeholder="Title*"
  />
  <input
    type="text"
    class="form-input"
    name="description"
    id="description"
    placeholder="Description*"
  />
  <input
    type="number"
    class="form-input"
    name="price"
    id="price"
    placeholder="Price*"
  />
  <input
    type="text"
    class="form-input"
    name="thumbnail"
    id="thumbnail"
    placeholder="Thumbnail"
  />
  <input
    type="text"
    class="form-input"
    name="code"
    id="code"
    placeholder="Code*"
  />
  <input
    type="number"
    class="form-input"
    name="stock"
    id="stock"
    placeholder="Stock*"
  />
  <input
    type="text"
    class="form-input"
    name="category"
    id="category"
    placeholder="Category*"
  />
  <button id="btn-add-product" class="btnAdd" type="sumbit">Add</button>
  <h3>Delete a product:</h3>
  <input type="text" class="form-input" id="id-product" name="id-product">
</form>

<div class="padreContainer">
  <div id="list-products-all" class="container">

  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>