<div id="chat-container" class="containerSupport">
  <h4 id="username" class="username">Username</h4>
  <div class="form">
    <form id="formulario">
      <input
        type="text"
        name="mensaje"
        id="mensaje"
        placeholder="Type your message..."
        class="inputMessage"
      />
      <input type="submit" value="Send" class="inputSend" />
      <button class="buttonClear" id="clearChat">Remove Messages</button>
    </form>
  </div>

    <p id="chat" class="chat" ></p>
 
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>